.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 20px 25px;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(25, 19, 78);
  display: none;
}
.container {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  border: 1px solid black;
  padding: 20px;
  z-index: 100;
  background-color: aquamarine;
  display: none;
}
.modal-1.active {
  transform: translate(-50%, -50%) scale(1);
  display: block;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.delete-btn {
  display: none;
}
.delete-btn.active {
  display: block;
}
li span {
  margin-left: 100px;
  color: rgb(6, 83, 58);
  border: 1px solid black;
  line-height: 40px;
  padding: 2px;
  border-radius: 5px;
}
li span:last-child {
  color: red;
}
li span:hover {
  background: rgb(51, 36, 66);
  color: #fff;
}
